<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Setting for responsive layout -->
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <title><%=title ? title : pkg.name %></title>
    <meta name="description" content="<%= pkg.description %>" />
    <meta name="author" content="Cyanny Liang" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <%-stylesheets %>
  </head>
  <body>
    <div>
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Node Scaffolding</a>
            </div>
            <% if (req.originalUrl !== '/') {%>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group" style="margin-right: 10px">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <% } %>
            <div class="navbar-right">
              <ul class="nav navbar-nav">
                <li>
                  <a href="#">Menu1</a>
                </li>
                <li>
                  <a href="#">Menu2</a>
                </li>
                <li>
                  <a href="#">Menu3</a>
                </li>
                <li>
                  <a href="#">Menu4</a>
                </li>
                <% if (req.isAuthenticated()) { %>
                <li>
                  <a href="/users/<%=req.user.id %>"><%=req.user.username %></a>
                </li>
                <li>
                  <a href="/signout">Sign out</a>
                </li>
              <% } else { %>
                <li>
                  <a class="btn btn-default navbar-btn" href="/signin" style="padding: 5px 10px; margin-right: 5px;">Sign in</a>
                </li>
                <li>
                  <a  class="btn btn-default navbar-btn" href="/signup" style="padding: 5px 10px">Sign up</a>
                </li>
              <% } %>
              </ul>
            </nav>
            </div>
          </div>
        </nav>
      </header>
      <section class="container main-body">
        <%-body %>
      </section>
      <hr>
      <footer>
        <p> © 2013 Cyanny Liang | <a href="http://www.cyanny.com">Cyanny's Live |  <a href="http://github.com/lgrcyanny">Cyanny' GitHub</a></p>
      </footer>
    </div>
    <script type="text/javascript" src="/lib/jquery/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/ejs/ejs_production.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-rating-input.min.js"></script>
    <%-scripts %>
  </body>
</html>